@font-face {
  font-family: "ColdWarm";
  src: url("../fonts/ColdWarm.ttf") format("truetype");
}

@font-face {
  font-family: "HankenGrotesk";
  src: url("../fonts/HankenGrotesk.ttf") format("truetype");
}

#portfolio-lead {
  font-family: "ColdWarm";
}

#portfolio-body {
  font-family: "HankenGrotesk";
}

#socialLinks {
  width: 150px;
  border-radius: 50%;
}

body {
  background-color: lightgrey;
}

#nameLead {
  color:darkblue
}

#jumboBold {
  font-weight: bold;
}