@font-face {
  font-family: "ColdWarm";
  src: url("../fonts/ColdWarm.ttf") format("truetype");
}

@font-face {
  font-family: "HankenGrotesk";
  src: url("../fonts/HankenGrotesk.ttf") format("truetype");
}

#portfolio-lead {
  font-family: "ColdWarm";
}

#location-text,
#portfolio-body {
  font-family: "HankenGrotesk";
}


.tag {
  background-color: lightgrey;
  border-radius: 50%;
  font-weight: bold;
  font-family: "HankenGrotesk";
}

.projectContainer {
  overflow-y:scroll;
  height: auto;
}

#socialLinks {
  width: 150px;
  border-radius: 50%;
}

.img-carousel {
  max-width: 500px;
  width:100%;
}

body {
  background-color:#3d3e40;
}

#nameLead {
  color:yellow;
}

#cardLead {
  color:yellow;
  font-family: "HankenGrotesk";
}

#jumboBold {
  font-weight: bold;
}

#imgCover {
  max-width: 250px;
  width:100%;
  height: auto;
  border-radius: 50%;  
}


.template {
  background-color: #1e1e1e;
  color: #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.template h1,
.template h2 {
  font-family: "ColdWarm";
  color: yellow;
}

.template a {
  font-family: "ColdWarm";
  color: yellow;
  text-decoration: none;
}

.template a:hover {
  text-decoration: underline;
}

.icon-style {
  transition: transform 0.3s;
}

.social-icon:hover, 
.icon-style:hover {
  transform: scale(1.1);
}


